@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Luckiest+Guy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff url("./assets/try3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hello {
  font-family: "Inter", sans-serif;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.nav-mobile-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #f3f4f6;
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  .nav-mobile-wrapper {
    display: block;
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    height: auto;
  }
}
